p, a, div.user{
  width: 100%;
  text-align: center;
}

.input-group {
  z-index: 0 !important;
  width: 100%;
}

form {
  /*margin: 15px;*/
  padding: 15px;
  width: 100%;
}

input.form-group {
  width: 70% !important;
}
