<!-- Trigger the modal with a button -->
<button type="button" id="openCompModal" class="btn btn-info btn-lg hidden" data-toggle="modal" data-target="#compareModal" (click)="myInfo()">Open Modal</button>

<!-- Modal -->
<div id="compareModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Compare versions</h4>
      </div>
      <div class="modal-body">
          <!--<div class="CompLeft rounded border cont col-xs-6 panel panel-success">-->
            <!--<div class="compHeader">-->
              <!--<div class="form-control">-->
                <!--Version {{topObj.ver}} ({{topObj.date | date:'short'}})-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="compBody">-->
              <!--<p *ngIf="topObj.id"><span class="boldSpan">ID:</span> {{topObj.id}}</p>-->
              <!--<p><span class="boldSpan">Title:</span> {{topObj.title}}</p>-->
              <!--<p *ngIf="topObj.ver"><span class="boldSpan">Version:</span> {{topObj.ver}} &emsp;<span class="boldSpan">Date:</span> {{topObj.date | date:'short'}}</p>-->
              <!--<p *ngIf="topObj.desc"><span class="boldSpan">Description:</span></p>-->
              <!--&lt;!&ndash;<p *ngIf="topObj.desc">{{topObj.desc}}</p>&ndash;&gt;-->
              <!--<textarea class="desk" *ngIf="topObj.desc" readonly>{{topObj.desc}}</textarea>-->
            <!--</div>-->
          <!--</div>-->

        <div class="CompLeft rounded border cont col-xs-6 panel panel-success">
          <div class="compHeader">
            <select class="form-control" (change)="selectLeftObj($event.target.value)">
              <ng-container *ngFor="let obj of compareArr">
                <option value="{{obj.ver}}" [selected]="obj == leftObj">Version {{obj.ver}} ({{obj.date | date:'short'}})</option>
              </ng-container>
            </select>
          </div>
          <div class="compBody">
            <p *ngIf="leftObj.id"><span class="boldSpan">ID:</span> {{leftObj.id}}</p>
            <p><span class="boldSpan">Title:</span> {{leftObj.title}}</p>
            <p *ngIf="leftObj.ver"><span class="boldSpan">Version:</span> {{leftObj.ver}} &emsp;<span class="boldSpan">Date:</span> {{leftObj.date | date:'short'}}</p>
            <p *ngIf="leftObj.desc"><span class="boldSpan">Description:</span></p>
            <textarea class="desk" *ngIf="leftObj.desc" readonly>{{leftObj.desc}}</textarea>
          </div>
        </div>

        <div class="CompRight rounded border cont col-xs-6 panel panel-success" *ngIf="compareArr && compareArr.length > 1">
          <div class="compHeader">
            <select id="compSelect" class="form-control" (change)="selectObj($event.target.value)">
              <ng-container *ngFor="let obj of compareArr">
                <option value="{{obj.ver}}" [selected]="obj == currObj">Version {{obj.ver}} ({{obj.date | date:'short'}})</option>
              </ng-container>
            </select>
          </div>
          <div class="compBody">
            <p *ngIf="currObj.id"><span class="boldSpan">ID:</span> {{currObj.id}}</p>
            <p><span class="boldSpan">Title:</span> {{currObj.title}}</p>
            <p *ngIf="currObj.ver"><span class="boldSpan">Version:</span> {{currObj.ver}} &emsp;<span class="boldSpan">Date:</span> {{currObj.date | date:'short'}}</p>
            <p *ngIf="currObj.desc"><span class="boldSpan">Description:</span></p>
            <textarea class="desk" *ngIf="currObj.desc" readonly>{{currObj.desc}}</textarea>
          </div>
        </div>

          <!--<div class="CompRight rounded border cont col-xs-6 panel panel-success" *ngIf="compareArr && compareArr.length > 1">-->
            <!--<div class="compHeader">-->
              <!--<select id="compSelect" class="form-control" (change)="selectObj($event.target.value)">-->
                <!--<ng-container *ngFor="let obj of compareArr">-->
                  <!--<option *ngIf="!objCompare(obj, topObj)" value="{{obj.ver}}">Version {{obj.ver}} ({{obj.date | date:'short'}})</option>-->
                <!--</ng-container>-->
              <!--</select>-->
            <!--</div>-->
            <!--<div class="compBody">-->
              <!--<p *ngIf="currObj.id"><span class="boldSpan">ID:</span> {{currObj.id}}</p>-->
              <!--<p><span class="boldSpan">Title:</span> {{currObj.title}}</p>-->
              <!--<p *ngIf="currObj.ver"><span class="boldSpan">Version:</span> {{currObj.ver}} &emsp;<span class="boldSpan">Date:</span> {{currObj.date | date:'short'}}</p>-->
              <!--<p *ngIf="currObj.desc"><span class="boldSpan">Description:</span></p>-->
              <!--<textarea class="desk" *ngIf="currObj.desc" readonly>{{currObj.desc}}</textarea>-->
            <!--</div>-->
          <!--</div>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
