.CompLeft, .CompRight {
  /*background-color: red;*/
  /*padding: 15px !important;*/
}

.compHeader {
  padding: 15px;
  text-align: center;
}

.compBody {
  padding: 15px;
}

.modal-body {
  overflow-y: auto;
}

.form-control {
  text-align: left !important;
}
