<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand" (click)="backBtnClick()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
        <a class="navbar-brand" href="/">Holiship</a>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!--<p class="navbar-text">{{ComponentTitle}}</p>-->

      <ul class="navbar-text routes">
        <ol class="breadcrumb">
          <li *ngFor="let route of routes">
            <a class="clickable" (click)="navigateTo(route.route)">{{route.name}}</a>
          </li>

          <li class="active">{{ComponentTitle}}</li>
          <!---->
          <!--<li><a href="#">Home</a></li>-->
          <!--<li><a href="#">Library</a></li>-->
          <!--<li class="active">Data</li>-->
        </ol>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <div [@wobble]="wobbleState" (@wobble.done)="reset()" (click)="toggleMenu()" class="hamburger">
            <span class="glyphicon glyphicon-bell"></span>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{userName}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="goToUsers()" class="clickable">Manage users</a></li>
            <li role="separator" class="divider"></li>
            <li (click)="logOut()"><a class="clickable">Logout</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--<button [@wobble]="wobbleState" (@wobble.done)="reset()" [@btnSlideInOut]="menuState" (click)="toggleMenu()" class="hamburger btn-lg">-->
  <!--&lt;!&ndash;<span>toggle menu</span>&ndash;&gt;-->
  <!--<span class="glyphicon glyphicon-bell"></span>-->
<!--</button>-->

<div id="fade" [ngClass]="{hidden:(this.menuState === 'out')}" (click)="toggleMenu()"></div>

<button (click)="triggerAnimation()" #trig class="hidden">Bell trigger</button>

<app-menu [@slideInOut]="menuState" (bell)="trig.click()" style="overflow-y: scroll"></app-menu>
