.input-group {
  z-index: 0 !important;
  width: 100%;
}

form {
  /*margin: 15px;*/
  padding: 15px;
  width: 100%;
}

input.form-group {
  width: 70% !important;
}

div.title {
  text-align: center;
  padding: 15px 15px 0 15px;
}

div.container {
  background-color: aliceblue;
  border-radius: 25px;

  width: 400px;
  height: 330px;

  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  padding: 15px;
}

div.buttons {
  background-color: red;
  /*padding: 15px;*/
}

button.submit {
  margin-top: 15px;
  float: right;
}
