<div class="container">

  <div class="title">
    <h3>Welcome</h3>
  </div>

  <form [formGroup]="form">
    <div class="input-group">
      <label for="login">Login</label>
      <input type="text" formControlName="login" id="login" class="form-control" #login>
    </div>
    <div class="input-group">
      <label for="pass">Password</label>
      <input type="password" formControlName="password" id="pass" class="form-control" #password>
    </div>

    <button type="submit" class="btn submit" (click)="loginUser(login.value, password.value)">Submit</button>

  </form>

</div>

<button id="hiddenMdlButton" type="button" class="btn btn-primary hidden" data-toggle="modal" data-target="#newUserModal">
  New user
</button>

<app-create-user (createNewEvent)="createNewUser($event)" (closeModalEvent)="getUsers()" [closeable]="false"></app-create-user>

<!--<app-alert-modal [error]="error" *ngIf="errorShowing" (closeModalEvent)="closeErrModal()"></app-alert-modal>-->
