<app-menu-parent (backEvent)="goToProject()" [routes]="routes" [title]="'Compliance'"></app-menu-parent>

<div class="container">

  <!--<ul class="nav nav-tabs">-->
    <!--<li class="active"><a data-toggle="tab" href="#req">REQ</a></li>-->
    <!--<li><a data-toggle="tab" href="#sce">SCE</a></li>-->
    <!--<li><a data-toggle="tab" href="#reqSce">REQ/SCE</a></li>-->
  <!--</ul>-->

  <!--<div class="tab-content">-->
    <!--<div id="req" class="tab-pane fade in active">-->
      <!--<h3>REQ</h3>-->
      <!--<table id="reqTable" class="table table-responsive table-hover">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th>REQ</th>-->
          <!--<th>Compliance %</th>-->
          <!--<th>Comments</th>-->
        <!--</tr>-->
        <!--</thead>-->

        <!--<tbody>-->
        <!--<tr *ngFor="let req of objectKeys(topReqs)">-->
          <!--<td>{{topReqs[req].id}} {{topReqs[req].title}}</td>-->
          <!--<td><input type="number" value=""></td>-->
          <!--<td><input type="text" value=" "></td>-->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->
    <!--</div>-->
    <!--<div id="sce" class="tab-pane fade">-->
      <!--<h3>SCE</h3>-->
      <!--<table id="sceTable" class="table table-responsive table-hover">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th>SCE</th>-->
          <!--<th>Compliance %</th>-->
          <!--<th>Comments</th>-->
        <!--</tr>-->
        <!--</thead>-->

        <!--<tbody>-->
        <!--<tr *ngFor="let sce of objectKeys(topSce)">-->
          <!--<td>{{topSce[sce].id}} {{topSce[sce].title}}</td>-->
          <!--<td><input type="number" value=""></td>-->
          <!--<td><input type="text" value=" "></td>-->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->
    <!--</div>-->
    <!--<div id="reqSce" class="tab-pane fade">-->
      <!--<h3>REQ/SCE</h3>-->
      <!--<table id="sceReqTable" class="table table-responsive table-hover">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th>REQ</th>-->
          <!--<th>SCE</th>-->
          <!--&lt;!&ndash;<th>REQ</th>&ndash;&gt;-->
          <!--<th>Compliance %</th>-->
          <!--<th>Comments</th>-->
        <!--</tr>-->
        <!--</thead>-->

        <!--<tbody>-->
        <!--&lt;!&ndash;<tr *ngFor="let sce of objectKeys(topSce)">&ndash;&gt;-->
          <!--&lt;!&ndash;<td>{{topSce[sce].id}} {{topSce[sce].title}}</td>&ndash;&gt;-->
          <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<tr *ngFor="let test of topSce[sce].requirements">{{test}}</tr>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<tr><td>1</td></tr>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<tr><td>1</td></tr>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;</td>&ndash;&gt;-->
          <!--&lt;!&ndash;<td *ngFor="let test of topSce[sce].requirements">&ndash;&gt;-->
            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="text" value=" %">&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
          <!--&lt;!&ndash;</td>&ndash;&gt;-->
          <!--&lt;!&ndash;<td *ngFor="let test of topSce[sce].requirements">&ndash;&gt;-->
            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="text" value=" ">&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
          <!--&lt;!&ndash;</td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->

        <!--&lt;!&ndash;<ng-container *ngFor="let sce of objectKeys(topSce)">&ndash;&gt;-->
          <!--&lt;!&ndash;<ng-container *ngIf="topSce[sce].requirements && topSce[sce].requirements.length == 0">&ndash;&gt;-->
            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
              <!--&lt;!&ndash;<td>{{topSce[sce].id}} {{topSce[sce].title}}</td>&ndash;&gt;-->
              <!--&lt;!&ndash;<td></td>&ndash;&gt;-->
              <!--&lt;!&ndash;<td><input type="number" value=""></td>&ndash;&gt;-->
              <!--&lt;!&ndash;<td><input type="text" value=" "></td>&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
          <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->
          <!--&lt;!&ndash;<ng-container *ngIf="topSce[sce].requirements && topSce[sce].requirements.length > 0">&ndash;&gt;-->
            <!--&lt;!&ndash;<tr *ngFor="let req of topSce[sce].requirements; let i = index">&ndash;&gt;-->
              <!--&lt;!&ndash;<td>{{i==0?topSce[sce].id:''}} {{i==0?topSce[sce].title:''}}</td>&ndash;&gt;-->
              <!--&lt;!&ndash;<td>{{req}} {{topReqs[req].title}}</td>&ndash;&gt;-->
              <!--&lt;!&ndash;<td><input type="number" value=""></td>&ndash;&gt;-->
              <!--&lt;!&ndash;<td><input type="text" value=" "></td>&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
          <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->
        <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

        <!--<ng-container *ngFor="let req of objectKeys(topReqs)">-->
          <!--<ng-container *ngIf="topReqs[req].scenarios && topReqs[req].scenarios.length == 0">-->
            <!--<tr>-->
              <!--<td>{{topReqs[req].id}} {{topReqs[req].title}}</td>-->
              <!--<td></td>-->
              <!--<td><input type="number" value=""></td>-->
              <!--<td><input type="text" value=" "></td>-->
            <!--</tr>-->
          <!--</ng-container>-->
          <!--<ng-container *ngIf="topReqs[req].scenarios && topReqs[req].scenarios.length > 0">-->
            <!--<tr *ngFor="let sce of topReqs[req].scenarios; let i = index">-->
              <!--<td>{{i==0?topReqs[req].id:''}} {{i==0?topReqs[req].title:''}}</td>-->
              <!--<td>{{sce}} {{topSce[sce].title}}</td>-->
              <!--<td><input type="number" value=""></td>-->
              <!--<td><input type="text" value=" "></td>-->
            <!--</tr>-->
          <!--</ng-container>-->
        <!--</ng-container>-->
        <!--</tbody>-->
      <!--</table>-->
    <!--</div>-->
  <!--</div>-->


  <div id="reqSce" class="cl">
    <h3>REQ/SCE</h3>
    <table id="sceReqTable" class="table table-responsive table-hover">
      <thead>
      <tr>
        <th>Requirement ID</th>
        <th>Requirement Title</th>
        <th>Scenario ID</th>
        <th>Scenario Title</th>
        <th>Compliance %</th>
        <th>Comments</th>
      </tr>
      </thead>

      <tbody>

      <ng-container *ngFor="let req of objectKeys(topReqs)">
        <!--<ng-container *ngIf="topReqs[req].scenarios && topReqs[req].scenarios.length > 0">-->
          <!--<tr>-->
            <!--<td>{{topReqs[req].id}} {{topReqs[req].title}}</td>-->
            <!--<td></td>-->
            <!--<td><input type="number" value=""></td>-->
            <!--<td><input type="text" value=" "></td>-->
          <!--</tr>-->
        <!--</ng-container>-->
        <ng-container *ngIf="topReqs && topSce && topReqs[req]?.scenarios && topReqs[req]?.scenarios?.length > 0">
          <tr *ngFor="let sce of topReqs[req]?.scenarios; let i = index">
            <td>{{topReqs && i==0?topReqs[req]?.id:''}}</td>
            <td>{{topReqs && i==0?topReqs[req]?.title:''}}</td>
            <td>{{sce}}</td>
            <td>{{topSce && topSce[sce]?.title}}</td>
            <td><input type="number" value="{{topSce && +topSce[sce]?.requirements[req]?.persents || 0}}" id="{{topSce && 'n'+topSce[sce]?.id+topReqs[req]?.id}}"></td>
            <td><input type="text" value="{{topSce && topSce[sce]?.requirements[req]?.comment||''}}" id="{{topSce && 't'+topSce[sce]?.id+topReqs[req]?.id}}"></td>
          </tr>
        </ng-container>
      </ng-container>

      </tbody>
    </table>
  </div>
</div>

<div id="foot">
  <button (click)="getCsv()" class="btn btn-primary btn-sm">Get CSV</button>
  <button (click)="toLoadCSV = !toLoadCSV;" type="button" class="btn btn-primary btn-sm" #csvBtn>Import CSV</button>
  <input *ngIf="toLoadCSV"
         type="file"
         #fileImportInput
         name="File Upload"
         id="txtFileUpload"
         class="btn btn-primary"
         (change)="fileChangeListener($event)"
         accept=".csv"/>
  <button (click)="preSaveCompliances()" class="btn btn-primary btn-sm">Save changes</button>
</div>

<app-alert-modal [error]="error" *ngIf="errorShowing" (closeModalEvent)="closeErrModal()"></app-alert-modal>

<button [hidden]="true" id="hiddenErrTr" type="button" data-toggle="modal" data-target="#alertModal" #hiddenTr>
</button>

<app-spinner *ngIf="loading"></app-spinner>
