<div id="infoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="clModal" type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
        <h4 class="modal-title">Version info</h4>
      </div>
      <div class="modal-body form-group">
        <p *ngIf="data.id"><span class="boldSpan">ID:</span> {{data.id}}</p>
        <p><span class="boldSpan">Title:</span> {{data.title}}</p>
        <p *ngIf="data.ver"><span class="boldSpan">Version:</span> {{data.ver}} &emsp;<span class="boldSpan">Date:</span> {{data.date | date:'short'}}</p>
        <p *ngIf="data.desc"><span class="boldSpan">Description:</span></p>
        <!--<p *ngIf="data.desc">{{data.desc}}</p>-->
        <textarea class="desk" *ngIf="data.desc" readonly>{{data.desc}}</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">OK</button>
      </div>
    </div>

  </div>
</div>

<button [hidden]="true" id="hiddenTr1" type="button" data-toggle="modal" data-target="#infoModal" #hiddenTr1>
</button>

