<app-menu-parent (backEvent)="goToProject()" [title]="'Scenarios'" [routes]="routes"></app-menu-parent>

<div id="cont">
  <table id="myTable" class="table table-responsive table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Version</th>
      <th>Date</th>
      <th>Description</th>
      <th>Writer</th>
      <th></th>
      <th>Subscribed</th>
    </tr>
    </thead>

    <tbody>
    <ng-container *ngFor="let sce of objectKeys(sceArr)">
      <tr class="clickable"  data-toggle="collapse" id="{{id}}" [attr.data-target]="'.' + sce">
        <td><i class="glyphicon glyphicon-arrow-right" ></i> {{sce}}</td>
        <td>{{topSce[sce].title}}</td>
        <td>{{topSce[sce].ver}}</td>
        <td>{{topSce[sce].date | date}}</td>
        <td class="deskText">{{topSce[sce].desc}}</td>
        <td>{{topSce[sce].writer}}</td>
        <td>
          <span class="glyphicon glyphicon-trash clickable" (click)="deleteCse(sce)"></span>
          <span class="glyphicon glyphicon-edit clickable" data-toggle="modal" data-target="#myModal" (click)="reqEdit(topSce[sce])"></span>
          <span class="glyphicon glyphicon-eye-open clickable" (click)="openVerModal(topSce[sce])" data-toggle="modal" data-target="#infoModal"></span>
          <span class="glyphicon glyphicon-duplicate clickable" data-toggle="modal" data-target="#compareModal" (click)="openCompareModal(topSce[sce])"></span>
          <!--<span class="glyphicon glyphicon-bullhorn clickable" (click)="changeSubscription(topSce[sce].id)"></span>-->
        </td>
        <td>
          <label class="switch">
            <input type="checkbox" [checked]="checkUserSubscribtion(sce)" (click)="changeSubscription(topSce[sce].id)">
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <ng-container *ngFor="let ver of sceArr[sce]">
        <tr class="collapse" [ngClass]="sce" *ngIf="!objCompare(ver, topSce[sce])">

          <td>-</td>
          <td>{{ver.title}}</td>
          <td>{{ver.ver}}</td>
          <td>{{ver.date | date}}</td>
          <td class="deskText">{{ver.desc}}</td>
          <td>{{ver.writer}}</td>
          <td>
            <span class="glyphicon glyphicon-trash clickable" (click)="deleteVer(ver)"></span>
            <!--<span class="glyphicon glyphicon-edit clickable" data-toggle="modal" data-target="#myModal" (click)="reqEdit(ver)"></span>-->
            <span class="glyphicon glyphicon-eye-open clickable" (click)="openVerModal(ver)" data-toggle="modal" data-target="#infoModal"></span>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>
</div>

<div id="foot">
  <button type="button" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#NewModal" (click)="creatingModalShowing = true;">
            <span class="glyphicon glyphicon-plus"></span>
  </button>
  <button (click)="preCreateRevision()" class="btn btn-primary btn-sm">Create revision</button>
  <button (click)="getCsv()" type="button" class="btn btn-primary btn-sm">get CSV</button>
  <button (click)="toLoadCSV = !toLoadCSV;" type="button" class="btn btn-primary btn-sm">Import CSV</button>
  <input *ngIf="toLoadCSV"
         type="file"
         #fileImportInput
         name="File Upload"
         id="txtFileUpload"
         class="btn btn-primary"
         (change)="fileChangeListener($event)"
         accept=".csv"/>
</div>

<!-- Modals -->

<div id="sceRevisionCreateModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Revision</h4>
      </div>
      <div class="modal-body form-group">
        <label for="titleRv">Name:</label>
        <input id="titleRv" type="text" class="form-control" value="" (input)="inpEditOnChange($event, titleRv.value)" #titleRv>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled]="!canEditState" class="btn btn-default" data-dismiss="modal" (click)="createRevision(titleRv.value)">Save</button>
      </div>
    </div>

  </div>
</div>

<button [hidden]="true" id="hiddenCreateSceRevisionTr" type="button" data-toggle="modal" data-target="#sceRevisionCreateModal" #hiddenCreateSceRevisionTr>
</button>

<app-edit-modal [currentVer]="curSce" (createVerEvent)="reqSave($event)" (closeModalEvent)="versionModalShowing = false;" *ngIf="versionModalShowing"></app-edit-modal>

<app-create-modal [context]="'Scenario'" (createNewEvent)="createNew($event)" (closeModalEvent)="this.creatingModalShowing = false;" *ngIf="creatingModalShowing"></app-create-modal>

<app-alert-modal [error]="error" *ngIf="errorShowing" (closeModalEvent)="closeErrModal()"></app-alert-modal>

<app-info-modal [data]="modalVer" *ngIf="infoShowing" (closeModalEvent)="closeModal()"></app-info-modal>

<app-compare-component [topObj]="currTopSce" [compareArr]="sceArr[currTopSce.id]" *ngIf="compareShowing" (closeModalEvent)="closeCompareModal()"></app-compare-component>

<app-spinner *ngIf="loading"></app-spinner>
