<app-menu-parent (backEvent)="goToProject()" [title]="'Blocks'" [routes]="routes"></app-menu-parent>

<div id="cont">
  <!--<table id="myTable" class="table table-responsive table-hover">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th>Title</th>-->
      <!--<th>Subscribed</th>-->
    <!--</tr>-->
    <!--</thead>-->

    <!--<tbody>-->
    <!--<tr *ngFor="let block of blocks;">-->
      <!--<td class="clickable">-->
          <!--{{block}}-->
      <!--</td>-->
      <!--<td>-->
        <!--<label class="switch">-->
          <!--<input type="checkbox" [checked]="checkUserSubscribtion(block)" (click)="changeSubscription(block)">-->
          <!--<span class="slider round"></span>-->
        <!--</label>-->
      <!--</td>-->
      <!--<td>-->
        <!--&lt;!&ndash;<span class="glyphicon glyphicon-eye-open clickable" (click)="goToModel(block)"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="glyphicon glyphicon-plus clickable" (click)="addBlockChild([block], 'test' )" data-toggle="modal" data-target="#blockModal"></span>&ndash;&gt;-->
        <!--<span class="glyphicon glyphicon-eye-open clickable" (click)="blockInfo(block)" data-toggle="modal" data-target="#blockModal"></span>-->
        <!--<span class="glyphicon glyphicon-refresh clickable" (click)="stateInfo(block)" data-toggle="modal" data-target="#stateModal"></span>-->
        <!--<span class="glyphicon glyphicon-edit clickable" data-toggle="modal" data-target="#blockEditModal" (click)="blockPreEdit(block)"></span>-->
        <!--<span class="glyphicon glyphicon-trash clickable" (click)="deleteBlock(block)"></span>-->
      <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->

  <p-treeTable [value]="blocksObj.data" (onNodeExpand)="loadNode($event)">
    <p-column field="name" header="Name"></p-column>
    <p-column header="Subscribed">
      <ng-template let-col let-node="rowData">
        <label class="switch">
          <input type="checkbox" [checked]="checkUserSubscribtion(node.data.identity)" (click)="changeSubscription(node)">
          <span class="slider round"></span>
        </label>
      </ng-template>
    </p-column>
    <p-column>
      <ng-template let-col let-node="rowData">
        <span class="glyphicon glyphicon-plus clickable" (click)="preAddBlockChild(node)"></span>
        <span class="glyphicon glyphicon-eye-open clickable" (click)="blockInfo(node.data)" data-toggle="modal" data-target="#blockModal"></span>
        <span class="glyphicon glyphicon-refresh clickable" (click)="stateInfo(node.data)" data-toggle="modal" data-target="#stateModal"></span>
        <span class="glyphicon glyphicon-edit clickable" data-toggle="modal" data-target="#blockEditModal" (click)="blockPreEdit(node)"></span>
        <span class="glyphicon glyphicon-trash clickable" (click)="deleteBlock(node)"></span>
      </ng-template>
    </p-column>
  </p-treeTable>
</div>

<div id="foot">
  <button type="button" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#NewModal">
    <span class="glyphicon glyphicon-plus"></span>
  </button>
  <!--<button (click)="getJSON()" type="button" class="btn btn-primary btn-sm">get JSON</button>-->
  <button (click)="toLoadJSON = !toLoadJSON;" type="button" class="btn btn-primary btn-sm">Import JSON</button>
  <input *ngIf="toLoadJSON"
         type="file"
         #fileImportInput
         name="File Upload"
         id="txtFileUpload"
         class="btn btn-primary"
         (change)="fileChangeListener($event)"
         accept=".json"/>
</div>

<div id="NewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New{{currBlockParents&&currBlockParents.length>0? ' Child':''}} Block</h4>
      </div>
      <div class="modal-body form-group">
        <label for="Title">Name:</label>
        <input id="Title" type="text" class="form-control" (input)="blckInpOnChange($event, Title.value)" #Title>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled]="!canCreateBlck" class="btn btn-default" data-dismiss="modal" (click)="currBlockParents?addBlockChild(Title.value):createNewBlock(Title.value)">Save</button>
      </div>
    </div>

  </div>
</div>

<button data-toggle="modal" data-target="#NewModal" [hidden]="true" id="hiddenNewChildTr" #hiddenNewChildTr></button>

<div id="blockEditModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Block</h4>
      </div>
      <div class="modal-body form-group">
        <label for="newTitle">Name:</label>
        <input id="newTitle" type="text" class="form-control" value="{{currBlock&&currBlock.data?currBlock.data.name:''}}" (input)="blckEditOnChange($event, newTitle.value)" #newTitle>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled]="!canEditBlck" class="btn btn-default" data-dismiss="modal" (click)="blockEdit(newTitle.value)">Save</button>
      </div>
    </div>

  </div>
</div>

<app-block-modal [block]="currBlock" [project]="project" *ngIf="blockShowing" (closeModalEvent)="closeBlockInfoModal()"></app-block-modal>

<app-edit-modal [currentVer]="currBlock" (createVerEvent)="createVer($event)" (closeModalEvent)="closeEditModal(false)" *ngIf="editShowing"></app-edit-modal>

<app-state-modal [project]="project" [block]="currBlock" *ngIf="stateShowing" (closeModalEvent)="closeStateModal()"></app-state-modal>

<app-spinner *ngIf="loading"></app-spinner>
